* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
}

.title {
    font-size: 40px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    color: #333333;
    margin: 0;
}

.section__heading {
    margin: 0 0 25px 44px;
    line-height: 32px;
}
:root{
    --font-color: #cc9933;
}

/*Header*/

.header {
    margin-bottom: 70px;
    grid-area: header;
}

.header__info {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    height: 115px;
}

.header__wrap_right {
    display: flex;
    justify-content: flex-end;
}

.header__wrap_left {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 30px;
}

.header__account {
    color: var(--font-color);
    margin-right: 10px;
    font-size: 16px;
    line-height: 50px;
}

.header__nav_container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    align-items: center;
    height: 70px;
    padding-right: 20px;
    background: white;
    border-radius: 15px;
}

.header__list {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0;
    font-size: 16px;
}

.header__link:not(last-child) {
    margin-right: 45px;
    color: #333333;
    transition: color 0.2s ease;
}

.header__link:hover {
    color: var(--font-color);
}

.header__search-input {
    width: 355px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding-left: 20px;
    outline: none;
}

.header__search-input:focus {
    color: var(--font-color);
}

.header__search {
    position: relative;
    height: 100%;
}
.search__svg{
    position: absolute;
    right: 20px;
    top: 15px;
}


.header__phone {
    font-size: 1.375rem;
    font-weight: 700;
    color: #666;
}
/*main*/

.main{
    display: grid;
    grid-template-areas:
            "booking special"
            "about about"
            "services services"
            "privilege privilege"
            "placement placement"
            "contacts write-us";
}


/* booking */

.booking{
    grid-area: booking;
}
.bookin__form{
    display: flex;
    flex-direction: column;
}
.input {
    width: 520px;
    height: 70px;
    border: none;
    border-radius: 12px;
    padding: 0 20px;
    margin-bottom: 24px;
    outline: none;
}

.input:focus {
    color: var(--font-color);
    border-radius: 12px;
}


.btn__orange {
    border: none;
    border-radius: 12px;
    background-color: #cc9933;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color, color 0.5s ease;
}

.btn__orange:hover {
    color: var(--font-color);
    background: white;
    border: 1px solid #c93;
}

.booking__form__btn {
    height: 70px;
    padding: 0 30px;
    width: 200px;
}

/*specials*/
.special{
    grid-area: specials;
}

.specials__heading {
    margin: 0 0 25px 44px;
}

.specials__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 540px;
    background: url("../img/1.jpg") top right no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.specials__text {
    width: 325px;
    margin: 0 0 40px 40px;
    font-size: 66px;
    font-weight: bold;
    color: white;
    user-select: none;
}

.specials__price {
    margin: 0 40px 35px;
    font-size: 35px;
    color: #cdcdcd;
    user-select: none;
}

.specials__link {
    font-size: 16px;
    color: var(--font-color);
}


/*about*/


.about {
    padding-top: 70px;
    grid-area: about;
}

.about__text {
    max-width: 880px;
    margin: 0;
    margin-left: 44px;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
}


/*services*/

.services {
    padding-top: 100px;
    grid-area: services;
}

.service__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.services__article {
    border-radius: 15px;
    background: white;
}

.article__img {
    margin-bottom: 40px;
}

.article__description {
    margin: 45px 40px 45px;
}

.h3 {
    color: var(--font-color);
    font-size: 22px;
    line-height: 32px;
}

.article__description__text {
    font-size: 16px;
    line-height: 32px;
    color: #666666;
}


/*privilege*/

.privilege {
    padding-top: 70px;
    grid-area: privilege;
}

.privilege__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
}

.privilege__item {
    background: white;
    border-radius: 15px;
    padding: 45px;
}

.privilege__cards__icon {
    margin-bottom: 20px;
}


/*placement*/

.placement {
    padding-top: 70px;
    grid-area: placement;
}

.placement__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.placement__item {
    border-radius: 15px;
    background: white;
}

.placement__card-all__img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url("../img/41.jpg") no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.placement__card__text {
    padding: 0 40px 40px;
}

.placement__card-all__text {
    margin-bottom: 50px;
}

.placement__card-all__text a {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.placement__card__img {
    margin-bottom: 38px;
}

.placement__card__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.placement__card__hotel {
    margin-bottom: 15px;
}

.placement__card__location {
    margin-bottom: 20px;
}

.btn {
    border: 1px solid #cc9933;
    border-radius: 12px;
    background: white;
    color: var(--font-color);
    cursor: pointer;
    outline: none;
    transition: background-color, color 0.3s ease;
}
.btn:hover{
    background: #cc9933;
    color: white;
}

.placement__card__btn {
    padding: 0 20px;
    height: 40px;
}

.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini > span:before {
    content: '★';
}

.rating-mini > span.active {
    color: gold;
}


/*contacts*/


.contacts{
    padding-top: 70px;
}

.contacts__card {
    padding: 0 45px;
    background: white;
    border-radius: 12px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #cdcdcd;
}

.contacts__link {
    color: #666666;
}

.contacts__item_btn {
    border: none;
}

.contacts__btn {
    height: 70px;
    padding: 0 30px;

}

.contacts__link a {
    color: var(--font-color);
}


/*write-us*/

.write-us {
    grid-area: write-us;
    padding-top: 70px;
   margin: auto;
}

.write-us__form {
    display: flex;
    flex-direction: column;
}

.write-us__input {
    width: 350px;
}

.write-us__btn {
    height: 70px;
    margin-top: 20px;
}

.textarea {
    padding: 20px;
    border: none;
    border-radius: 12px;
    outline: none;
    width: 350px;
}

.textarea:focus {
    border: 1px solid #cc9933;
    border-radius: 12px;
}

.write-us__title{
    text-align: center;
    margin-bottom: 25px;
}


/*footer*/
.footer {
    margin-top: 25px;
    padding: 50px 30px 0;
    background-color: #333333;
    border-radius: 12px;
    grid-area: footer;
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 50px;
    background: url("../img/sun.png") no-repeat;
    background-position-x: 90%;
    background-position-y: 100%;
    background-size: auto;
}

.footer__position {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px;
    align-items: flex-start;
    color: white;
    line-height: 30px;
}

.two_rows {
    display: flex;
    flex-direction: column;
}

.orange {
    color: var(--font-color);
}

.social__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 0;
}

.social__item {
    margin-bottom: 20px;
}
svg{
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
svg:hover{
    box-shadow: 0 0 10px 6px white;
}









